*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,body{
    height: 100%;
}

.center{
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1280px;
}

.clear{
    clear: both;
}

header{
    padding: 10px 0;
}

.logo{
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}

.logo a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px;
}

nav.menu-desktop li{
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop li.selected{
    font-weight: normal;
    text-decoration: underline;
}

nav.menu-desktop a:hover{
    text-decoration: underline;
}

nav.menu-mobile{
    display: none;
    float: right;
}

nav.menu-mobile ul{
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
    text-align: center;
    border-top: 1px solid black;
}

nav.menu-mobile li{
    padding: 8px 0;
    border-bottom: 1px solid black;
    font-weight: lighter;
}

nav.menu-mobile h2{
    cursor: pointer;
}

nav.menu-mobile a{
    display: block;
    color: black;
    text-decoration: none;
}

nav.menu-mobile li.selected{
    font-weight: normal;
    text-decoration: underline;
}

section.main-bg{
    position: relative;
    width: 100%;
    padding: 80px 0 200px 0;
    background-image: url('imagens/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.overlay{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

section.main-bg .center{
    z-index: 2;
    position: relative;
}

section.main-bg h2{
    color: #52aaa7;
    font-size: 40px;
    margin-top: 20px;
    font-weight: normal;
}

section.main-bg p{
    text-align: justify;
    font-size: 17px;
    margin-top: 20px;
    color: white;
    font-weight: lighter;
}

section.diferenciais{
    padding: 30px 0;
    text-align: center;
}

.line-text{
    position: relative;
    display: inline-block;
    color: #52aaa7;

}

.line-text > div{
    width: 100px;
    height: 3px;
    background-color: #52aaa7;
    position: absolute;
    left: 0;
    top: 0;
}

.line-text h2{
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais{
    margin-top: 35px;
}

.box-icone-single{
    float: left;
    width: 33.3%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.box-icone-single h2{
    color: #8a6b62;
	font-size: 40px;
}

.box-icone-single p{
    color: #646464;
	font-size: 16px;
	font-weight: lighter;
}

section.sobre-equipe{
    padding: 30px 0;
    background-color: rgb(225,225,225);
}

section.sobre-equipe > .center{
    display: flex;
    flex-wrap: wrap;
}

.equipe-container{
    width: 50%;
}

.avatar-box{
    margin-top: 15px;
}

.img-avatar{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
}

.descricao-avatar{
    display: inline-block;
    width: calc(100% - 70px);
    padding: 0 10px;
}

.descricao-avatar h3{
    font-style: italic;
    font-weight: normal;
    color: rgb(30,30,30);
}

.descricao-avatar p{
    color: rgb(30,30,30);
    font-weight: lighter;
    width: 95%;
}

.sobre-container{
    width: 50%;
}

.sobre-container p{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}

.w50{
    width: 50%;
    float: left;
}

section.inscricao{
	background-color: #52aaa7;
	padding: 20px 0;
}

.inscricao-form input[type=text]{
	width: calc(100% - 120px);
	height: 40px;
	background-color: white;
	border: 1px solid #ccc;
	display: inline-box;
}

.inscricao-form input[type=submit]{
	width: 120px;
	height: 40px;
	background-color: #1d6c64;
	color: white;
	display: inline-box;
	cursor: pointer;
	border: 0;
	font-size: 16px;
}

h2.inscricao-texto{
	color: white;
	font-weight: normal;
}

.align{
    text-align: center;
}

section.cards{
    padding: 30px 0;
}

.card-single{
    width: 33.3%;
    float: left;
    padding: 50px;
}

.card-single img{
    width: 100%;
}

.card-single h3{
    font-weight: normal;
    font-size: 19px;
    margin-top: 5px;
}

.card-single p{
    margin: 10px 0;
    font-weight: lighter;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.w33{
    width: 33.3%;
    float: left;
}

footer.footer1{
    background-color: #52aaa7;
    padding: 20px 0;
    color: white;
}

footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
}

footer.footer1 a{
    display: block;
    color: white;
}

div.group-icons a{
    font-size: 18px;
    display: inline-block;
    margin: 15px 10px;
}

footer.footer2{
    padding: 15px 0;
    text-align: center;
    color: white;
    background-color: #237a70;
}

/*SOBRE*/

section.title-page{
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

section.title-page > .center{
    position: relative;
    z-index: 101;
}

.overlay__title-page{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

section.title-page h2{
    color: #44D4C5;
    font-size: 35px;
    font-weight: normal;
}

section.title-page p{
    color: white;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 10px;
}

section.sobre__noticia{
    padding: 30px;
}

.sobre__single__noticia img{
    max-width: 100%;
    float: left;
    width: 40%;
}

.sobre__single__noticia p{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: lighter;
    text-align: justify;
    float: left;
    width: 60%;
}

section.parallax{
    padding: 30px 0;
    width: 100%;
    min-height: 200px;
    background-image: url('imagens/img5.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}

section.parallax h2{
    color: #44D4C5;
    border: 1px solid #44D4C5;
    padding: 5px 25px;
    font-size: 18px;
    display: inline-block;
}

section.parallax p{
    margin-top: 10px;
    color: white;
}

section.equipe{
    padding: 40px 0;
}

.equipe-circles{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.equipe-circle-single{
    text-align: center;
    padding: 0 20px;
    width: 33.3%;
}

.equipe-circle-single h3{
    margin-top: 8px;
    font-size: 20px;
    font-weight: normal;
}

.equipe-circle-single p{
    margin-top: 4px;
    font-weight: lighter;
}

.avatar-single{
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
}

.avatar-single-container{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
}

section.sobre__final{
    background-color: rgb(225,225,225);
    border-top: 2px solid rgb(210,210,210);
    padding: 20px 0;
}

section.sobre__final p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: lighter;
    text-align: justify;
}

.card-text{
    margin-top: 10px;
    width: 80%;
    position: relative;
}

.card-text img{
    max-width: 100%;
}

.card-text h3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.w60{
    width: 60%;
    float: left;
}

section.contato{
    padding: 30px 0;
}

section.contato .w50,
section.contato .w100{
    padding: 0 10px;
}

.formulario form{
    margin-top: 10px;
}

.formulario h2{
    background-color: #DDDDDD;
    text-align: center;
    color: #ACAC9D;
    font-size: 17px;
    font-weight: normal;
    border-left: 5px solid #CCCCCC;
    padding: 4px 0;
}

.formulario input[type=text],
.formulario input[type=email]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 8px;
}

.formulario textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px 10px;
    resize: vertical;
}

.formulario input[type=submit]{
    background-color: #237a70;
    color: white;
    cursor: pointer;
    border: 0;
    border-bottom: 3px solid #1a635a;
    padding: 10px 40px;
    margin-left: 40%;
    font-size: 15px;
    font-weight: normal;
}

.formulario input[type=submit]:hover{
    background-color: #2b887d;
}

.w40{
    width: 40%;
    float: left;
}

.tags-form{
    padding-left: 50px;
}

.tags-form h2{
    font-weight: normal;
}

.tags-form p{
    font-weight: lighter;
}

.tags-form p.tag-contato{
    color: white;
    text-align: center;
    background-color: #249B8F;
    margin-top: 6px;
    padding: 8px 4px;
}

@media screen and (max-width: 768px){
    .box-icone-single{
        width: 100%;
    }

    .equipe-container{
        width: 100%;
    }

    .sobre-container{
        width: 100%;
        margin-top: 60px;
    }

    .card-single{
        width: 100%;
    }

    .w50,.w33,.w40,.w60,.w100{
		width: 100%;
		margin-bottom: 20px;
	}

    footer.footer1{
        text-align: center;
    }

    .sobre__single__noticia img{
        width: 100%;
        margin-bottom: 10px;
    }

    .sobre__single__noticia p{
        width: 100%;
    }

    .tags-form{
        padding-left: 0;
    }

    .formulario input[type=text],
    .formulario input[type=email]{
        margin-bottom: 0;
    }

    .formulario textarea{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px){
    nav.menu-mobile{
        display: block;
    }

    nav.menu-desktop{
        display: none;
    }

    .card-single{
		padding: 5px 0;
	}

    .equipe-circle-single{
        padding: 0 8px;
        width: 100%;
        margin-bottom: 30px;
    }

    .card-text{
		width: 100%;
	}

    .submit input[type=submit]{
        margin-left: 35%;
    }
}